<form (submit)="onSavePost(postForm)" #postForm="ngForm" class="post-form">
  <mat-form-field appearance="outline" class="form-feild-wrapper">
    <mat-label>Post title</mat-label>
    <input
      matInput
      [ngModel]="post?.title"
      name="title"
      placeholder="Post title"
      required
      #title="ngModel"
    />
    <mat-icon matSuffix>edit</mat-icon>
    <mat-error *ngIf="title.invalid && title.touched"
      >this field is required !</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Post content</mat-label>
    <input
      matInput
      [ngModel]="post?.content"
      name="content"
      placeholder="Post Content"
      required
      #content="ngModel"
    />
    <mat-icon matSuffix>edit</mat-icon>
    <mat-error *ngIf="content.invalid && content.touched"
      >this filed is required !</mat-error
    >
  </mat-form-field>
  <button
    mat-raised-button
    class=""
    color="accent"
    type="submit"
    [disabled]="postForm.invalid"
  >
    {{ isEditMode ? "Update Post" : "Create Post" }}
  </button>
</form>
<!-- <hr /> -->
<!-- <p>{{ newPostData }}</p> -->
