<form (submit)="OnAddPost(postForm)" #postForm="ngForm" class="post-form">
  <mat-form-field appearance="outline" class="form-feild-wrapper">
    <mat-label>Post title</mat-label>
    <input
      matInput
      ngModel
      name="title"
      placeholder="Write your post..."
      required
      #title="ngModel"
    />
    <mat-icon matSuffix>edit</mat-icon>
    <mat-error *ngIf="title.invalid">this field is required !</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Post content</mat-label>
    <input
      matInput
      ngModel
      name="content"
      placeholder="Write your post..."
      required
      #content="ngModel"
    />
    <mat-icon matSuffix>edit</mat-icon>
    <mat-error *ngIf="content.invalid">this filed is required !</mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    class=""
    color="accent"
    type="submit"
    [disabled]="postForm.invalid"
  >
    Create Post
  </button>
</form>

<!-- <hr /> -->
<!-- <p>{{ newPostData }}</p> -->
