<mat-toolbar color="primary">
  <!-- Left title -->
  <a mat-button routerLink="/">My Posts</a>

  <span class="example-spacer"></span>

  <!-- Desktop links -->
  <nav class="desktop-menu">
    <a mat-button routerLink="/create-post" routerLinkActive="active-link"
      >Create Post</a
    >
    <a mat-button routerLink="/login" routerLinkActive="active-link">Login</a>
    <a mat-button routerLink="/signup" routerLinkActive="active-link">Signup</a>
  </nav>

  <!-- Mobile burger -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu-btn">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- Burger menu -->
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/create-post">Create Post</button>
  <button mat-menu-item routerLink="/login">Login</button>
  <button mat-menu-item routerLink="/signup">Signup</button>
</mat-menu>
