.example-spacer {
  flex: 1 1 auto;
}

/* Desktop */
.desktop-menu {
  display: flex;
  gap: 0.5rem;
}

/* Mobile */
.mobile-menu-btn {
  display: none;
}
/* Active link */
.active-link {
  color: #ff4081; // Material accent color
  background-color: rgba($color: #ff4081, $alpha: 0.1);
  font-weight: 600;
}
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-btn {
    display: inline-flex;
    color: white;
  }
}
