<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts().length && !isLoading; else noPosts">
  <mat-expansion-panel *ngFor="let post of posts(); let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ post.title }} </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title" />
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <button mat-button color="primary" (click)="onEdit(post.id)">Edit</button>
      <button mat-button color="warn" (click)="onDelete(post.id)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalPosts()"
  [pageSize]="postsPerPage"
  [pageIndex]="currentPage - 1"
  [pageSizeOptions]="pageSizeOptions"
  aria-label="Select page"
  (page)="onChangePage($event)"
  *ngIf="posts().length"
>
</mat-paginator>

<ng-template #noPosts>
  <p class="info-text">No Posts Added Yet</p>
</ng-template>
