:host {
  display: block;
  width: 80%;
  margin-inline: auto;
  margin-top: 1rem;
}
.info-text {
  margin-top: 1rem;
}
.post-image {
  width: 100%;
  margin-bottom: 1rem;
  img {
    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 1);
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
  }
}
